body{
  margin: 0px;
  text-align: center;
}
a{
  color: #11999E;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
p{
  line-height: 2;
  font-weight: 600;
  font-family: 'Merriweather',serif;
}
h1
{
  margin: 0px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:#66BFBF;
}
h2{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color:#66BFBF;
  font-weight: bold;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
hr{
  margin-top: 60px;
  margin-bottom:  60px;
  border-top: 8px silver;
  border-style: dotted none none none;
  height: 0px;
  width: 5%;
}
.left-container{
  line-height: 1.3;
  background-color: #e8ffff;
  padding: 5px;
  padding-top: 100px;
  height: 720px;
  margin-bottom: 80px;
}
.middle-container
{

}
.bottom-container
{

}

.bottom-cloud{
  height: 200px;
  width: 200px;
  position: absolute;
  left: 300px;
  top:250px;
}
.top-cloud{
  height: 200px;
  width: 200px;
  position: absolute;
  right: 350px;
  top: 100px;
}
.mountain{
  width: 650px;
  height:650px;
}
.skill-row{
  width: 50%;
  margin:100px auto 150px  auto;
  text-align: left;
  line-height: 2;
}
.programm_logo{
  float: left;
  margin-right: 30px;
}
.hacking_logo{
  float: right;
  margin-left: 30px;
}
.btn{
  margin-top: 30px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
   background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
   background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
   background-image: -o-linear-gradient(top, #66BFBF, #11999E);
   background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 20px;
   line-height: 20px;
   color: #FFFFFF;
   font-family: Trebuchet MS;
   width: 120px;
   font-size: 20px;
   font-weight: 900;
   padding: 20px;
   border: solid #119999 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.bottom-container{
  margin: 0;
  margin-top: 70px;
  background-color: #66BFBF;
  padding-top: 40px;
  padding-bottom: 10px;
}
.footer-link{
  margin: 30px;
}
.last{
  color: #EAF6F6;
  display: block;
  margin: 25px;
}
